body {
    margin:0;
    text-align: center; 
}

.hidden {
    display: none;
}

.api-images {
    max-width: 325px; 
}

iframe{
    height: 182.8125px; 
    width: 325px;
    }

@media all and (min-width: 900px) {

    iframe {
    height: 365.625px; 
    width: 650px;
    }        

    .api-images {
        max-width: 650px; 
    }

}    